<%= image_tag 'index.jpeg', width:"70", alt: "Swallow main" %>
<strong>Swallow<strong>
<h2>pages#index</h2>
<% if user_signed_in? %>
<table border="1px solid black" style="border-collapse:collapse;">
  <tr>
    <td>
      <%= image_tag current_user.profile , width:"200", alt:"profile"%>
    </td>
    <td>
      <%= current_user.name %><br>
      <%= current_user.email %><br>
      <%= current_user.gender %><br>
    </td>
  </tr>
</table>
<%= link_to '로그아웃', logout_path, method:'delete' %><br>

<%= form_tag '/write', method: 'post' do %>
<textarea name="texts" rows="8" cols="80"></textarea>
<input type="submit" value="전송">
<% end %>
<table border="1px solid black" style="border-collapse:collapse;">
    <% @timelines.each do |b| %>
    <tr>
        <td>
            [<%= b.name %>] <%= b.content %>
            <%= form_tag '/comment', methos: 'post' do %>
            <ul>
                <% b.comments.each do |p| %>
                <li>[<%= p.name %>] <%= p.msg %></li>
                <% end %>

            <input type="hidden" name="timeline_id" value="<%= b.id %>">
            <li><input type="text" name="msg"></li>
            <input type="submit" value="전송">
            <% end %>
          </ul>
        </tr>
    </td>
    <% end %>
</table>
<% else %>
<%= link_to '로그인', login_path %>
<%= link_to '회원가입', join_path %><br>
<% end %>
